<p id="notice"><%= notice %></p>

<p>hangout show</p>
<p>hangout show</p>
<p>hangout show</p>


<%= week_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= event.summary %>
    </div>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_hangout_path(@hangout) %> |
<%= link_to 'Back', hangouts_path %>
